$sc-color-primary: #0000ff; // originally #f15c28;
$sc-color-secondary: #00ff00; //originally #5B7F8C;
$sc-color-theme: #00ff00; //originally #5B7F8C;
$sc-color-link: #00ff00; //originally #2f9ac3;
$sc-color-theme-light: #00aa00; // originally #9cb6bf
$sc-color-theme-background: #000000;

$sc-color-dark-copy: #e7d13b; // originally #1f2223;
$sc-color-copy: #ede39f; //originally  #404040;
body {
   background-color: $sc-color-theme-background;
}